<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--script src="/static/assert/style.css"></script-->
    <link href="assert/style.css" rel="StyleSheet">
    <title>Document</title>
</head>
<body>

<h1> Hola mundo, Esto es una pagina de prueba </h1>
<h2> Hola mundo, Esto es una pagina de prueba </h2>
<h3> Hola mundo, Esto es una pagina de prueba </h3>
<h4> Hola mundo, Esto es una pagina de prueba </h4>
<h5> Hola mundo, Esto es una pagina de prueba </h5>
<h6> Hola mundo, Esto es una pagina de prueba </h6>


<form>
    <p> Esto es un parrafo que hacemos en la clase del profesor Andres para mision tic 2022 </p>
    <button class="button-blue">Boton mision tic</button>
    <input placeholder="ingrese nombre">
    <input type="text">
    <input type="password">
    <input type="number">
    <input type="date">

    <table>
        <tbody>
        <tr>
            <th>
                Columna1
            </th>
            <td>
                Celda1
            </td>
        </tr>

        </tbody>
    </table>


    <table class="default">

        <tr>

            <th>Hoy</th>

            <th>Mañana</th>

            <th>Sábado</th>

        </tr>

        <tr>

            <td>Soleado</td>

            <td>Mayormente soleado</td>

            <td>Parcialmente nublado</td>

        </tr>

        <tr>

            <td>19°C</td>

            <td>17°C</td>

            <td>12°C</td>

        </tr>

        <tr>

            <td>E 13 km/h</td>

            <td>E 11 km/h</td>

            <td>S 16 km/h</td>

        </tr>

    </table>

    <textarea> </textarea>


    <select name="cars" id="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
    </select>

    <a href="https://www.youtube.com/watch?v=uOdArqAX_q4">Video de youtube</a>

    <img src="static/assert/img.jpeg">

</form>


</body>
</html>