<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="assert/style.css" rel="StyleSheet">
</head>
<body>
<main>
  <form method="POST" th:object="${formUsuario}" th:action="@{/login}">
      <div class="position-relative text-center">
          <div class="position-absolute top-50 start-50 translate-middle-x" >
            <img src="assert/login.jpeg" class="img-thumbnail" height="57" width="72">
              <div class="text-md">
                <h1> Ingrese Credenciales </h1>
              </div>
              <div class="col-lg-6 mx-auto form-floating">
                <input type="email" class="form-control" th:field="*{nombreUsuario}" id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">Email address</label>
              </div>
              <div class="col-lg-6 mx-auto form-floating mb-3">
                  <input type="password" class="form-control" th:field="*{password}" id="floatingPassword" placeholder="Password">
                  <label for="floatingPassword">Password</label>
              </div>
              <div class="col-lg-6 mx-auto mb-4">
                <a href="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                      Recuperar password
                  </label>
                </a>
              </div>

              <div class="col-lg-6 mx-auto mb-4">

                  <a th:href="@{/oauth2/authorization/google}">
                        Login con Google
                  </a>

              </div>


              <div class="col-lg-6 mx-auto mb-5 w-50 p-3">
                <button class="btn btn-primary" type="submit">Iniciar Sesión</button>
              </div>
              <div>
                <p> 2022 </p>
              </div>
          </div>

      </div>
  </form>

</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>