<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<h1> Bienvenido a la sesión </h1>

<div sec:authorize="!isAuthenticated()">
  <a th:href="@{/oauth2/authorization/auth0}">Log In</a>
</div>
<div sec:authorize="isAuthenticated()">
  <p>You are logged in!</p>
</div>


<table class="table">
  <thead>
  <tr>
    <th scope="col">Nombre</th>
    <th scope="col">Nombre Usuario</th>
    <th scope="col">Password</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="usuario : ${usuarios}">
    <td th:text="${usuario.nombre}"></td>
    <td th:text="${usuario.nombreUsuario}"></td>
    <td th:text="${usuario.password}"></td>
  </tr>

  </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>